
<div>
	<img src="{{profile.pic}}">
</div>
<h1>{{profile.name}}</h1>
<h2>city: {{profile.city}}</h2>
<h2>positive quote: {{profile.positiveQuote}}</h2>



{{!-- "name" value are the keys being sent in the request.body --}}
<h3>Say something nice about {{profile.name}}</h3>
	<form action="/compliments" method="POST">
		<input name="text" placeholder="Say something nice about {{profile.name}}"/>
		<input name="userId" value="{{profile.id}}"/>
		<input name="posterId" value="{{poster}}"/>
		<button>submit</button>
	</form>

<h3>recent compliments about {{profile.name}}</h3>
<ul>
{{#each profile.compliments}}
<li>{{this.poster.name}}: {{this.text}}</li>
{{/each}}
</ul>


<h3>recent compliments about {{profile.name}}</h3>
	
<h3>{{profile.name}}'s compliments about others</h3>

<ul>
{{#each profile.gaveCompliments}}
	<li>{{this.receiver.name}}{{this.text}}</li>
{{/each}}
<ul>
<a href="http://localhost:3000/users/5952d4dd63414f0af15de97a">friend</a>
