

<div>
</div>
<h1>{{name}}</h1>
<h2>city: {{city}}</h2>
<h2>positive quote: {{positiveQuote}}</h2>
<h2>website: {{website}}



<h3>Say something nice about {{name}}</h3>
	{{#if loggedIn}}
		<input placeholder="Say something nice about {{name}}"/>
	{{/if}}	

<h3>recent compliments about {{name}}</h3>
	
<h3>{{name}}'s compliments about others</h3>

